@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Black.ttf');
    font-weight: 900;
    font-style: normal;
}